<template>
  <v-container tag="section" class="pb-10 pt-8 lg:px-10 lg:pt-10">
    <v-form :disabled="loading" v-model="valid" ref="form" lazy-validation>
      <v-text-field
        v-model="bankName"
        label="Nhập ngân hàng"
        rounded
        outlined
        clearable
        hide-spin-buttons
        :rules="[rules.required]"
      />
      <v-text-field
        v-model="password"
        label="Nhập mật khẩu*"
        type="password"
        rounded
        outlined
        clearable
        hide-spin-buttons
        :rules="[rules.required]"
      />
      <v-text-field
        v-model="verifiedPassword"
        label="Nhập lại mật khẩu*"
        type="password"
        rounded
        outlined
        clearable
        hide-spin-buttons
        :rules="[rules.required]"
      />
      <v-btn :loading="loading" color="primary" rounded x-large @click="submit" block>
        <v-icon right dark class="mr-2"> mdi-plus-box </v-icon>
        Đổi mật khẩu
      </v-btn>
    </v-form>
  </v-container>
</template>

<script>
import { required } from "~/utils/validation";

export default {
  name: "ChangePasswordBankViews",
  data() {
    return {
      valid: true,
      rules: {
        required,
      },
      bankName: "",
      password: "",
      verifiedPassword: "",
      loading: false,
    };
  },
  // Your Vue component logic goes here
  methods: {
    async submit() {
      try {
        this.loading = true;
        if (this.password !== this.verifiedPassword) {
          this.$toasted.error("Mật khẩu được cập nhật không đúng").goAway(2000);
          return;
        }
        if (this.$refs.form.validate()) {
          await this.$services.commonService.updateBankInfo({
            BankUsername: this.bankName,
            BankPassword: this.password,
          });
          this.$toasted.success("Cập nhật thông tin ngân hàng thành công").goAway(2000);
          this.$refs.form.reset();
        }
      } catch(err) {
        throw err;
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>

<style scoped>
/* Your component-specific styles go here */
</style>
