<template>
    <v-data-table
      :headers="headers"
      :items="desserts"
      sort-by="date"
      class="elevation-1"
    >
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>My CRUD</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" max-width="500px">
            <template v-slot:activator="{ on, attrs }">
              <v-btn color="primary" dark class="mb-2" v-bind="attrs" v-on="on">
                New Item
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="text-h5">{{ formTitle }}</span>
              </v-card-title>
  
              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field
                        v-model="editedItem.name"
                        label="Họ tên"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field
                        v-model="editedItem.address"
                        label="Địa chỉ"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field
                        v-model="editedItem.phone"
                        label="Số điện thoại"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field
                        v-model="editedItem.store"
                        label="Cửa hàng"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field
                        v-model="editedItem.date"
                        label="Ngày tháng"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>
  
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="close"> Cancel </v-btn>
                <v-btn color="blue darken-1" text @click="save"> Save </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h5"
                >Are you sure you want to delete this item?</v-card-title
              >
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="closeDelete"
                  >Cancel</v-btn
                >
                <v-btn color="blue darken-1" text @click="deleteItemConfirm"
                  >OK</v-btn
                >
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-icon small class="mr-2" @click="editItem(item)"> mdi-pencil </v-icon>
        <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="initialize"> Reset </v-btn>
      </template>
    </v-data-table>
  </template>
  
  <script>
  export default {
    name: "dept",
    data: () => ({
      dialog: false,
      dialogDelete: false,
      headers: [
        {
          text: "Họ tên",
          align: "start",
          sortable: false,
          value: "name",
        },
        { text: "Địa chỉ", value: "address" },
        { text: "Số điện thoại", value: "phone" },
        { text: "Cửa hàng", value: "store" },
        { text: "Ngày tháng", value: "date" },
        { text: "Actions", value: "actions", sortable: false },
      ],
      desserts: [],
      editedIndex: -1,
      editedItem: {
        name: "",
        address: 0,
        phone: 0,
        store: 0,
        date: 0,
      },
      defaultItem: {
        name: "",
        address: 0,
        phone: 0,
        store: 0,
        date: 0,
      },
    }),
  
    computed: {
      formTitle() {
        return this.editedIndex === -1 ? "New Item" : "Edit Item";
      },
    },
  
    watch: {
      dialog(val) {
        val || this.close();
      },
      dialogDelete(val) {
        val || this.closeDelete();
      },
    },
  
    created() {
      this.initialize();
    },
  
    methods: {
      initialize() {
        this.desserts = [
          {
            name: "Frozen Yogurt",
            address: " 79 tran thanh tong",
            phone: "0833658668",
            store: "cửa hàng x",
            date: "20/2/2022",
          },
          {
            name: "Ice cream sandwich",
            address: 237,
            phone: 9.0,
            store: 37,
            date:"22/2/2022",
          },
          {
            name: "Eclair",
            address: 262,
            phone: 16.0,
            store: 23,
            date: "24/2/2022",
          },
          {
            name: "Cupcake",
            address: 305,
            phone: 3.7,
            store: 67,
            date: 4.3,
          },
          {
            name: "Gingerbread",
            address: 356,
            phone: 16.0,
            store: 49,
            date: "15/2/2022",
          },
          {
            name: "Jelly bean",
            address: 375,
            phone: 0.0,
            store: 94,
            date: 0.0,
          },
          {
            name: "Lollipop",
            address: 392,
            phone: 0.2,
            store: 98,
            date: 0,
          },
          {
            name: "Honeycomb",
            address: 408,
            phone: 3.2,
            store: 87,
            date: 6.5,
          },
          {
            name: "Donut",
            address: 452,
            phone: 25.0,
            store: 51,
            date: 4.9,
          },
          {
            name: "KitKat",
            address: 518,
            phone: 26.0,
            store: 65,
            date: 7,
          },
        ];
      },
  
      editItem(item) {
        this.editedIndex = this.desserts.indexOf(item);
        this.editedItem = Object.assign({}, item);
        this.dialog = true;
      },
  
      deleteItem(item) {
        this.editedIndex = this.desserts.indexOf(item);
        this.editedItem = Object.assign({}, item);
        this.dialogDelete = true;
      },
  
      deleteItemConfirm() {
        this.desserts.splice(this.editedIndex, 1);
        this.closeDelete();
      },
  
      close() {
        this.dialog = false;
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem);
          this.editedIndex = -1;
        });
      },
  
      closeDelete() {
        this.dialogDelete = false;
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem);
          this.editedIndex = -1;
        });
      },
  
      save() {
        if (this.editedIndex > -1) {
          Object.assign(this.desserts[this.editedIndex], this.editedItem);
        } else {
          this.desserts.push(this.editedItem);
        }
        this.close();
      },
    },
  };
  </script>
  