<template>
  <div class="h-screen w-screen grid grid-cols-12 bg-grey-50">
    <div
      class="col-span-full px-4 py-20 lg:p-32 bg-white grid content-center relative h-screen"
    >
      <!--LoginForm.vue - molecules component-->
      <login-form @loading="handleLoading" class="m-auto lg:max-w-md" />
    </div>
  </div>
</template>

<script>
import LoginForm from "~/components/LoginForm";

export default {
  components: {
    LoginForm,
  },
  metaInfo() {
    return {
      title: "Đăng nhập | Hệ thống quản lý",
    };
  },
  data() {
    return {
      isLoadingActions: false,
    };
  },
  methods: {
    handleLoading(isLoadingActions) {
      this.isLoadingActions = isLoadingActions;
    },
  },
};
</script>
