<template>
    <v-container tag="section" class="pb-2 pt-6 lg:px-2 lg:pt-2">
      <v-card class="h-full pb-10 lg:px-10 lg:pb-10">
        <v-tabs slider-color="#FBB040" background-color="gray" v-model="tabs" fixed-tabs>
          <v-tab href="#tab-1"
            ><v-icon right dark class="mr-2"> mdi-format-list-bulleted </v-icon> Danh sách
          </v-tab>
          <v-tab v-if="roleId === 2" href="#tab-2">
            <v-icon right dark class="mr-2"> mdi-cash-multiple </v-icon>Giao dịch</v-tab
          >
        </v-tabs>
  
        <v-tabs-items v-model="tabs" class="mt-10 px-4">
          <v-tab-item value="tab-1">
            <v-card flat>
              <v-row>
                <v-col cols="12" sm="auto">
                  <v-menu
                    v-model="menu"
                    :close-on-content-click="false"
                    :nudge-top="-10"
                    offset-y
                    content-class="w-full md:w-96"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        color="primary"
                        v-bind="attrs"
                        rounded
                        v-on="on"
                        x-large
                        width="100%"
                      >
                        <v-icon class="mr-2"> mdi-filter-variant </v-icon>
                        Điều kiện lọc
                      </v-btn>
                    </template>
                    <v-card class="px-8 pt-8 pb-2 flex flex-col space-y-4">
                      <v-select
                        v-if="roleId === 1"
                        v-model="selectedShops"
                        @change="onSearch"
                        :items="shops"
                        item-value="ID"
                        item-text="ShopName"
                        label="Cửa hàng"
                        multiple
                        outlined
                        chips
                        solo
                      />
                      <DatePicker v-model="startDate" @input="onSearch" label="Từ ngày" />
                      <DatePicker v-model="toDate" @input="onSearch" label="Đến ngày" />
                      <v-card-actions>
                        <v-spacer />
                        <v-btn text @click="menu = false"> Đóng </v-btn>
                        <v-btn color="primary" text @click="onClickDefault">
                          Mặc định
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-menu>
                </v-col>
                <v-col>
                  <v-text-field
                    v-model="searchString"
                    placeholder="Nội dung cần tìm"
                    outlined
                    rounded
                    color="#FBB040"
                    @input="onDebounceSearch"
                    @change="onSearch"
                    prepend-inner-icon="mdi-magnify"
                    clearable
                    hide-details
                  />
                </v-col>
                <v-col class="mb-4" cols="12" sm="auto">
                  <v-btn color="primary" rounded x-large block @click="refreshData">
                    <v-icon right dark class="mr-2"> mdi-refresh </v-icon>
                    Làm mới dữ liệu
                  </v-btn>
                </v-col>
              </v-row>
  
              <v-skeleton-loader
                :loading="isLoading"
                transition="scale-transition"
                :boilerplate="false"
                type="table"
                class="mx-auto"
              >
                <v-data-table
                  item-key="id"
                  :headers="headers"
                  :items="list"
                  :server-items-length="totalItems"
                  :options.sync="options"
                  no-data-text="Không có dữ liệu"
                  no-results-text="Không có dữ liệu phù hợp"
                  :footer-props="{
                    itemsPerPageText: 'Dòng mỗi trang:',
                    pageText: '{0}-{1} trên {2}',
                    itemsPerPageAllText: 'Tất cả',
                  }"
                  class="elevation-1"
                  @update:page="updatePagination"
                  @update:items-per-page="updatePagination"
                >
                  <template v-slot:[`item.CreatedAt`]="{ item }">
                    <v-chip color="brown">
                      <span class="text-xl font-medium white--text">{{
                        getDate(item.CreatedAt)
                      }}</span>
                    </v-chip>
                  </template>
                  <template v-slot:[`item.CreatedAtTime`]="{ item }">
                    <v-chip color="green">
                      <span class="text-xl font-medium white--text">{{
                        getTime(item.CreatedAtTime)
                      }}</span>
                    </v-chip>
                  </template>
                  <template v-slot:[`item.UpdatedAt`]="{ item }">
                    <span>{{ formatTime(item.UpdatedAt) }}</span>
                  </template>
                  <template v-slot:[`item.Amount`]="{ item }">
                    <v-chip color="black">
                      <span class="text-xl font-medium white--text"
                        >{{ moneyFormat(item.Amount) }} vnđ</span
                      >
                    </v-chip>
                  </template>
                  <template v-slot:[`item.Status`]="{ item }">
                    <v-chip :color="judgementColor(item.StatusId)">
                      <span class="text-xl font-medium white--text">{{ item.Status }}</span>
                    </v-chip>
                  </template>
                  <template v-slot:[`item.IsPaylater`]="{ item }">
                    <v-checkbox v-model="item.IsPaylater" color="purple" readonly />
                  </template>
                  <template #footer.prepend>
                    <div class="flex-grow flex items-end justify-end mr-4">
                      <span>
                        <v-menu :max-height="400" :close-on-content-click="false">
                          <template v-slot:activator="{ on, attrs }">
                            <v-icon v-bind="attrs" v-on="on">mdi-cog-outline</v-icon>
                          </template>
                          <v-list>
                            <v-list-item v-for="(item, index) in headers" :key="index">
                              <v-checkbox v-model="item.model" :label="item.text" />
                            </v-list-item>
                          </v-list>
                        </v-menu>
                      </span>
                    </div>
                  </template>
                </v-data-table>
              </v-skeleton-loader>
              <v-row no-gutters class="my-4" justify="center" align="center">
                <v-col cols="12" lg="9" md="7" sm="8" :class="classStyle">
                  <span class="text-lg font-medium"
                    >Tổng số giao dịch: {{ totalItems }}</span
                  >
                </v-col>
                <v-spacer></v-spacer>
              </v-row>
            </v-card>
          </v-tab-item>
          <v-tab-item v-if="roleId === 2" value="tab-2">
            <CreateQRCode />
          </v-tab-item>
        </v-tabs-items>
      </v-card>
    </v-container>
  </template>
  
  <script>
  import { mapState } from "vuex";
  import { EMPTY, TRANSACTION_STATUS, TRANSACTION_STATUS_COLOR } from "~/utils/constants";
  import DatePicker from "~/components/DatePicker.vue";
  import CreateQRCode from "~/components/CreateQRCode.vue";
  import { formatTime, moneyFormat, getDate, getTime, debounce } from "~/utils";
  
  export default {
    name: "home",
    components: {
      DatePicker,
      CreateQRCode,
    },
    data() {
      return {
        headers: [
          { text: "Ngày", value: "CreatedAt", sortable: false, model: true },
          { text: "Giờ", value: "CreatedAtTime", sortable: false, model: true },
          { text: "Số tiền", value: "Amount", sortable: false, model: true },
          { text: "Trạng thái", value: "Status", sortable: false, model: true },
          { text: "Nội dung", value: "TransactionContent", sortable: false, model: true },
          { text: "Trả sau", value: "IsPaylater", sortable: false, model: true },
          { text: "Lưu ý", value: "Note", sortable: false, model: true },
          { text: "Tạo bởi", value: "CreatedBy", sortable: false, model: true },
          { text: "Cập nhật", value: "UpdatedAt", sortable: false, model: true },
        ],
        options: { page: 1, itemsPerPage: 10 },
        list: [],
        searchString: EMPTY,
        totalItems: 0,
        isLoading: false,
        doctorId: null,
        searchCondition: 1,
        menu: false,
        tabs: null,
        loading: false,
        onDebounceSearch: debounce(this.onSearch, 300),
        startDate: null,
        toDate: null,
        selectedShops: [], // This will hold the selected items
        shops: [],
      };
    },
    async created() {
      try {
        // get data
        this.isLoading = true;
        this.handleQueryParams();
        // await this.getData();
        await Promise.all[this.getData(), this.fetchShops()];
      } catch (err) {
        throw err;
      } finally {
        this.isLoading = false;
      }
    },
    computed: {
      ...mapState({
        roleId: (state) => state.roleId,
      }),
      classStyle() {
        return window.innerWidth <= 640 ? "pb-2" : "";
      },
    },
    watch: {
      "$route.query": {
        async handler() {
          if (!Object.keys(this.$route.query).length) {
            this.options = { page: 1, itemsPerPage: 10 };
          }
          await this.getData();
        },
        deep: true,
      },
    },
    methods: {
      formatTime,
      moneyFormat,
      getDate,
      getTime,
      async handleQueryParams() {
        this.searchString = this.$route.query?.searchString || this.searchString;
        this.options.page = Number(this.$route.query?.page) || 1;
        this.options.itemsPerPage = Number(this.$route.query?.size) || 10;
        this.startDate = this.$route.query?.startDate || this.startDate;
        this.toDate = this.$route.query?.toDate || this.toDate;
      },
      refreshData() {
        this.getData();
      },
      fetchShops() {
        return new Promise ((resolve, reject) => {
          if (this.roleId !== 1) {
            resolve();
            return;
          }
          this.$services.commonService.getShops().then((res) => {
            this.shops = res.items;
            resolve();
          }).catch(err => {
            reject(err);
          });
        });
      },
      onSearch() {
        this.options.page = 1;
        this.updateQueryParams();
      },
      async updateQueryParams() {
        const object = {};
        if (this.options.page) {
          object.page = this.options.page;
        }
        if (this.options.itemsPerPage) {
          object.size = this.options.itemsPerPage;
        }
        if (this.searchString) {
          object.searchString = this.searchString;
        }
        if (this.startDate) {
          object.startDate = this.startDate;
        }
        if (this.toDate) {
          object.toDate = this.toDate;
        }
        if (this.selectedShops && this.selectedShops.length) {
          object.shopId = this.selectedShops.join(",");
        }
        try {
          await this.$router.replace({ query: { ...object } });
        } catch {}
      },
      async getData() {
        this.isLoading = true;
        try {
          const { items, total } = await this.$services.commonService.getTransactions({
            ...this.$route.query,
          });
          this.totalItems = total;
          this.list = items;
        } catch (err) {
          this.list = [];
          this.totalItems = 0;
        } finally {
          this.isLoading = false;
        }
      },
      async updatePagination() {
        await this.$router.replace({
          query: {
            ...this.$route.query,
            page: this.options.page,
            size: this.options.itemsPerPage,
          },
        });
      },
      onClickDefault() {
        this.menu = false;
        (this.selectedShops = []),
          (this.startDate = EMPTY),
          (this.toDate = EMPTY),
          this.onSearch();
      },
      judgementColor(statusId) {
        switch (statusId) {
          case TRANSACTION_STATUS.CHO_XAC_NHAN:
            return TRANSACTION_STATUS_COLOR.CHO_XAC_NHAN;
          case TRANSACTION_STATUS.THANH_CONG:
            return TRANSACTION_STATUS_COLOR.THANH_CONG;
          case TRANSACTION_STATUS.XAC_NHAN_THU_CONG:
            return TRANSACTION_STATUS_COLOR.XAC_NHAN_THU_CONG;
          case TRANSACTION_STATUS.HUY:
            return TRANSACTION_STATUS_COLOR.HUY;
          default:
          // code block
        }
      },
    },
  };
  </script>
  