<template>
  <div class="px-10 pt-4 lg:pt-10 flex flex-col mx-auto">
    <v-row align="center" justify="center" v-show="isLoadingCircular">
      <v-progress-circular
        :width="3"
        :size="40"
        color="orange"
        class="pt-15"
        indeterminate
      ></v-progress-circular>
    </v-row>
    <v-overlay v-model="isLoadingCircular"></v-overlay>
    <v-dialog v-model="dialog" persistent max-width="290">
      <template v-slot:activator="{ on, attrs }"> </template>
      <v-card>
        <v-card-title class="text-h5"> Xác nhận huỷ? </v-card-title>
        <v-card-text>Lựa chọn xác nhận để huỷ giao dịch bằng mã QR này.</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary darken-1" text @click="dialog = false"> Huỷ </v-btn>
          <v-btn color="primary darken-1" text @click="onCancelQR"> Xác nhận </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <div v-show="qrImage && !success" class="w-full flex items-center flex-col">
      <v-img class="my-4 max-w-sm" :src="qrImage" />
      <p>{{`${minutes} : ${seconds}`}}</p>
      <v-btn
        class="w-full lg:max-w-sm mb-2 white--text"
        @click="onApproveByHand"
        x-large
        color="green"
      >
        Đã nhận tiền
      </v-btn>
      <v-btn class="w-full lg:max-w-sm" @click="onCancel" x-large color="error">
        Hủy giao dịch
      </v-btn>
    </div>
    <div
      v-if="success"
      class="w-full flex items-center flex-col"
      :class="[success ? 'visible' : 'invisible']"
    >
      <div id="animationContainer" class="max-w-3xl"></div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import animationObject from "~/components/logos/success-animation.json";

export default {
  name: "ProcessQR",
  data() {
    return {
      lottieInstance: null,
      success: false,
      dialog: false,
      isLoadingCircular: false,
      intervalId: null,
      timeLeft: 10,
    };
  },

  created() {
    const channel = this.$pusher.subscribe(`bdd-transaction-${this.transactionId}`);
    this.intervalId = setInterval(() => {
      if (this.timeLeft === 0) {
        this.$router.push("/");
        return;
      }
      this.timeLeft -= 1;
    }, 1000);
    channel.bind("transaction-success", () => {
      this.success = true;
      setTimeout(() => {
        this.lottieInstance = lottie.loadAnimation({
          container: document.getElementById("animationContainer"), // the dom element that will contain the animation
          renderer: "canvas",
          loop: true,
          autoplay: true,
          animationData: animationObject,
        });
        setTimeout(() => {
          this.$router.push("/");
        }, 3000);
      });
    });
  },

  beforeDestroy() {
    this.$pusher.unsubscribe(`bdd-transaction-${this.transactionId}`);
    if (this.intervalId) {
      clearInterval(this.intervalId);
    }
    if (this.lottieInstance) {
      this.lottieInstance.destroy();
    }
  },
  computed: {
    ...mapState({
      qrImage: (state) => state.qrImage,
      transactionId: (state) => state.transactionId,
    }),
    minutes() {
      return Math.floor(this.timeLeft / 60)
        .toString()
        .padStart(2, "0"); // Gets the whole minutes
    },
    seconds() {
      return (this.timeLeft % 60).toString().padStart(2, "0"); // Gets the remaining seconds
    },
  },
  methods: {
    async onApproveByHand() {
      try {
        this.isLoadingCircular = true;
        await this.$services.commonService.onApproveByHand({
          TransactionIds: [this.transactionId],
        });
      } catch (err) {
        throw err;
      } finally {
        this.isLoadingCircular = false;
        this.$router.go(-1);
      }
    },
    async onCancel() {
      this.dialog = true;
    },
    async onCancelQR() {
      try {
        this.isLoadingCircular = true;
        await this.$services.commonService.cancelQR({
          TransactionIds: [this.transactionId],
        });
      } catch (err) {
        throw err;
      } finally {
        this.isLoadingCircular = false;
        this.$router.go(-1);
      }
    },
  },
};
</script>

<style scoped>
/* Your component-specific styles go here */
</style>
