<template>
  <v-container tag="section" class="pb-2 pt-2 lg:px-2 lg:pt-2">
    <v-row align="center" justify="center" v-show="isLoadingCircular">
      <v-progress-circular
        :width="3"
        :size="40"
        color="orange"
        class="pt-15"
        indeterminate
      ></v-progress-circular>
    </v-row>
    <v-overlay v-model="isLoadingCircular"></v-overlay>
    <v-dialog v-model="dialog" persistent max-width="290">
      <v-card>
        <v-card-title class="text-h6"> XÁC NHẬN THỦ CÔNG </v-card-title>
        <v-card-text class="red--text"
          >Tính năng đối soát giao dịch hiện đang không được kích hoạt. Vui lòng kiểm tra
          thông báo nhận tiền trong ứng dụng TPBank để xác nhận giao địch đã hoàn
          thành</v-card-text
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="orange darken-1" text @click="continueQR"> Đã hiểu </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-form v-model="valid" ref="form" lazy-validation>
      <v-text-field
        v-model="modelMoney"
        label="Nhập số tiền*"
        outlined
        type="number"
        rounded
        clearable
        hide-spin-buttons
        :rules="[rules.required]"
      />
      <p class="purple--text">{{ `Bằng số: ${modelMoney.toLocaleString("vi-VN") || ""}` }}</p>
      <p class="purple--text">{{ moneyString }}</p>
      <v-textarea
        v-model="tsContent"
        outlined
        rounded
        auto-grow
        rows="1"
        label="Nội dung chuyển khoản"
        clearable
      />
      <v-checkbox
        v-model="isPayLater"
        class="mt-0 mb-0"
        label="Thanh toán sau"
        color="#FBB040"
      />
      <p class="text-caption mb-4 mt-0 red--text">
        *LƯU Ý - Chỉ chọn thanh toán sau các trường hợp: thanh toán khi giao hàng, khách
        không thanh toán ngay, in mã QR, giao hàng mới thanh toán ...
      </p>
      <v-textarea
        v-model="note"
        outlined
        rounded
        auto-grow
        rows="1"
        label="Lưu ý khác"
        clearable
      />
      <v-btn
        color="success"
        rounded
        x-large
        block
        @click="submit"
        v-show="modelMoney != 0"
      >
        <v-icon right dark class="mr-2"> mdi-plus-box </v-icon>
        Tạo mã QR
      </v-btn>
    </v-form>
  </v-container>
</template>

<script>
import { required } from "~/utils/validation";
import { to_vietnamese } from "~/utils/money.js";

export default {
  name: "CreateQRCode",
  data() {
    return {
      // Your data properties go here
      transactionContent: "",
      note: "",
      isPayLater: false,
      money: null,
      valid: true,
      rules: {
        required,
      },
      dialog: false,
      tsContent: "",
      isLoadingCircular: false,
    };
  },
  computed: {
    modelMoney: {
      get() {
        return Number(this.money) || 0;
      },
      set(value) {
        this.money = value.replace(/\D+/g, "");
      },
    },
    moneyString() {
      return "Bằng chữ:" + to_vietnamese(this.money).toUpperCase();
    },
  },
  methods: {
    async submit() {
      await this.$refs.form.validate();
      if (this.valid) {
        this.checkSystemStatus();
      }
    },
    async continueQR() {
      this.dialog = false;
      this.onCreate();
    },
    async checkSystemStatus() {
      try {
        this.isLoadingCircular = true;
        const { SystemStatus } = await this.$services.commonService.getSystemStatus();
        if (SystemStatus === false) {
          this.dialog = true;
        } else {
          this.onCreate();
        }
      } catch (err) {
        throw err;
      } finally {
        this.isLoadingCircular = false;
      }
    },
    // Your methods go here
    async onCreate() {
      try {
        this.isLoadingCircular = true;
        var TransactionContentFinal;
        if (typeof this.tsContent === "string" && this.tsContent.length == 0) {
          let {
            TransactionContent,
          } = await this.$services.commonService.getTransactionContent();
          this.TransactionContentFinal = TransactionContent;
        } else {
          this.TransactionContentFinal = this.tsContent;
        }
        const payload = {
          Amount: Number(this.money).toString(),
          // IsPaylater: this.isPayLater,
          IsPaylater: "false",
          TransactionContent: this.TransactionContentFinal,
          Note: this.note,
        };
        const { QrImage, TransactionId } = await this.$services.commonService.createQR(
          payload
        );
        this.$store.commit("setData", {
          qrImage: QrImage,
          transactionId: TransactionId,
        });
        this.$router.push({ name: "processQR" });
      } catch (err) {
        throw err;
      } finally {
        this.isLoadingCircular = false;
      }
    },
    resetFormValue() {
      this.money = null;
      this.isPayLater = false;
      this.note = "";
      this.transactionContent = "";
    },
  },
  async created() {
    try {
      // Code to run when the component is mounted
      const {
        TransactionContent,
      } = await this.$services.commonService.getTransactionContent();
      this.transactionContent = TransactionContent;
    } catch(err) {
      throw err;
    }
  },
};
</script>
<style scoped>
.v-text-field input {
  font-size: 1.4em;
}
</style>
