<template>
  <!-- VAppBar - Vuetify -->
  <v-app-bar id="app-bar" class="mt-0" absolute app color="#F9F9F9" flat height="75">
    <br>
    <v-icon v-show="roleId == 1" class="d-lg-none mr-4" @click="onToggleNavigation">
      mdi-view-headline
    </v-icon>
    <router-link to="/">
      <v-img class="w-10 mr-2"src="@/assets/imgs/home.png" />
    </router-link>
    <h4 v-show="roleId == 1">Bảo đại đường - Quản trị</h4>
    <v-icon v-show="roleId == 2" class="d-lg-none mr-1"> mdi-map-marker-radius </v-icon>
    <h4 v-show="roleId == 2">
      {{ storeName}}
    </h4>
    <!-- VMenu - Vuetify -->
    <v-spacer />
    <v-menu bottom left offset-y origin="top right" transition="scale-transition">
      <!-- VList - Vuetify -->
      <v-list :tile="false" nav>
        <div>
          <app-bar-item v-for="(n, i) in notifications" :key="`item-${i}`">
            <v-list-item-title v-text="n" />
          </app-bar-item>
        </div>
      </v-list>
    </v-menu>
    <v-spacer />

    <v-menu offset-y>
      <template v-slot:activator="{ on, attrs }">
        <!-- VButton - Vuetify -->
        <v-btn outlined rounded color="primary" v-bind="attrs" v-on="on">
          {{ accountName }}
        </v-btn>
      </template>
      <v-list>
        <v-list-item @click="onChangePassword">
          <v-icon class="mr-2"> mdi-account-box-multiple-outline </v-icon>
          <v-list-item-title>Đổi mật khẩu</v-list-item-title>
        </v-list-item>
      </v-list>
      <v-list>
        <v-list-item @click="logout">
          <v-icon class="mr-2"> mdi-logout-variant </v-icon>
          <v-list-item-title>Đăng xuất</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </v-app-bar>
</template>

<script>
// Components
import { VHover, VListItem } from "vuetify/lib";
import { daysOfWeek, SESSION_STORAGE_KEY } from "~/utils/constants.js";
import { AuthService } from "~/services/auth.service";

export default {
  name: "Navigation",
  components: {
    AppBarItem: {
      render(h) {
        return h(VHover, {
          scopedSlots: {
            default: ({ hover }) => {
              return h(
                VListItem,
                {
                  attrs: this.$attrs,
                  class: {
                    "black--text": !hover,
                    "white--text secondary elevation-12": hover,
                  },
                  props: {
                    activeClass: "",
                    dark: hover,
                    link: true,
                    ...this.$attrs,
                  },
                },
                this.$slots.default
              );
            },
          },
        });
      },
    },
  },

  props: {
    value: {
      type: Boolean,
      default: false,
    },
    userProfile: {
      type: Object,
      default: null,
    },
  },

  data: () => ({
    today: new Date(),
    notifications: [
      "Mike John Responded to your email",
      "You have 5 new tasks",
      "You're now friends with Andrew",
      "Another Notification",
      "Another one",
    ],
    roleId: 3,
  }),

  computed: {
    accountName() {
      return this.userProfile?.Name || "";
    },
    storeName() {
      return this.userProfile?.Store || "";
    },
    fontDate() {
      return window.innerWidth <= 640 ? "text-sm" : "text-lg";
    },
    toDay() {
      const dayInWeek = daysOfWeek[this.today.getDay()];
      return window.innerWidth > 640
        ? dayInWeek +
            ", " +
            "ngày " +
            this.today.getDate() +
            " tháng " +
            (this.today.getMonth() + 1) +
            " năm " +
            this.today.getFullYear()
        : dayInWeek +
            ", " +
            this.today.getDate() +
            "/" +
            (this.today.getMonth() + 1) +
            "/" +
            this.today.getFullYear();
    },
    toDayTime() {
      const mins =
        this.today.getMinutes() < 10
          ? "0" + this.today.getMinutes()
          : this.today.getMinutes();
      return this.today.getHours() + ":" + mins;
    },
  },
  created() {
    this.roleId = localStorage.getItem("bdd-payment-role");
  },

  mounted() {
    setInterval(() => {
      this.today = new Date();
    }, 1000);
  },
  methods: {
    logout() {
      const prescriptionId = sessionStorage.getItem(SESSION_STORAGE_KEY.PRESCRIPTION_ID);
      if (prescriptionId) {
        sessionStorage.removeItem(SESSION_STORAGE_KEY.PRESCRIPTION_ID);
      }
      AuthService.makeLogout();
    },
    onChangePassword() {
      this.$router.push({
        path: `/thay-doi-mat-khau`,
      });
    },
    onClickHelp() {
      this.$store.commit("setStepGuide", 0);
    },
    onToggleNavigation() {
      this.$emit("toggleNavigation");
    },
  },
};
</script>
