<template>
  <div>
    <app-modal/>
    <navigation @toggleNavigation="onToggleNavigation" :userProfile="userProfile" />
    <sidebar :isOpenSidebar="isOpenSidebar" />
    <v-main class="font-medium min-h-screen">
      <router-view />
      <vue-internet-checker @status="status" @event="event" />
    </v-main>
  </div>
</template>

<script>
import vueInternetChecker from "vue-internet-checker";
import Navigation from "../components/Navigation.vue";
import Sidebar from "../components/Sidebar.vue";
import { mapState } from "vuex";

export default {
  components: {
    vueInternetChecker,
    Navigation,
    Sidebar,
  },

  data() {
    return {
      onLine: null,
      userProfile: null,
      isOpenSidebar: false,
    };
  },

  async created() {
    try {
      const response = await this.$services.commonService.getProfile();
      if (!this.roleId) {
        const roleId = localStorage.getItem("bdd-payment-role");
        if (roleId) {
          this.$store.commit("setData", { roleId: Number(roleId) });
        }
      }
      if (response) {
        this.userProfile = response.data;
        this.$store.commit("setData", { userProfile: this.userProfile });
      }
    } catch (err) {
      throw err;
    }
  },

  computed: {
    ...mapState({
      roleId: (state) => state.roleId,
    }),
    breadcrumbsList() {
      let pathArray = this.$route.path.split("/");
      let breadcrumbs = [];
      for (let i = 0; i < pathArray.length; i++) {
        if (this.$route.matched[i]) {
          breadcrumbs.push({
            path: this.$route.matched[i].path,
            name: this.$route.matched[i].meta.breadcrumbs,
          });
        }
      }
      return breadcrumbs;
    },
  },

  methods: {
    onToggleNavigation() {
      this.isOpenSidebar = !this.isOpenSidebar;
    },
    status(ele) {
      this.onLine = ele;
    },
    event(ele) {
      if (ele.type == "offline") {
        this.$toasted
          .error("Mất kết nối internet. Vui lòng kiểm tra kết nối mạng!", {
            position: "top-right",
          })
          .goAway(5000);
      }
    },
  },
};
</script>
